/* LikedSongs.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Ysabeau+Office:wght@400;500;600;700&display=swap");

.liked-songs-container {
  text-align: center;
  padding: 0;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  background-image: linear-gradient(90deg, #4b6cb7, #182848);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app-logo {
  width: 220px;
  height: 220px;
  margin-right: 10px;
  -webkit-box-shadow: 1px 9px 21px 8px rgba(34, 60, 80, 0.24);
  -moz-box-shadow: 1px 9px 21px 8px rgba(34, 60, 80, 0.24);
  box-shadow: 1px 9px 21px 8px rgba(34, 60, 80, 0.24);
}

.app-main {
  padding: 20px;
  margin-top: 60px;
}

.song-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 20px;
}

.song-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.song-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.02);
}

.song-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.song-details {
  flex-grow: 1;
  color: white;
}

.song-title {
  font-size: 16px;
  margin: 0;
}

.song-artist {
  font-size: 12px;
  color: #888;
  margin: 0;
}

.app-header h1 {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 0;
}

.song-number {
  font-size: 16px;
  font-weight: 700;
  color: #888;
  margin-right: 5px;
}

.song-meta {
  display: flex;
  align-items: center;
}

.song-heart-icon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease-in-out;
}

.song-heart-icon.liked {
  color: #00ff00;
}

.song-duration {
  font-size: 12px;
  color: #888;
}
.play-all-icon {
  float: left;
  margin-right: 10px;
  margin-top: 30px;
  margin-left: 30px;
  transition: transform 0.3s ease-in-out;
}
.play-all-icon .icon-larger {
  transform: scale(3);
  color: #00ff00;
}

.play-all-icon:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  header h1 {
    font-size: 60px !important
  }
  header {
    flex-wrap: wrap
  };
}
@media (max-width: 768px) {
  header h1 {
    font-size: 40px !important
  }
}
@media (max-width: 425px) {
  header h1 {
    font-size: 30px !important;
  }
}