.player-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 19vh;
  background-color: #222;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 8.1875%;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.play-pause-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.control-icon {
  font-size: 36px;
  color: #fff;
  margin: 0 16px;
  cursor: pointer;
}

.play-icon {
  font-size: 46px;
  color: #fff;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.time-input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.time-input {
  width: 80%;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  justify-content: baseline;
  margin-bottom: 6px;
}
.time-left {
  color: #fff;
  font-size: 15px;
}
.time-right {
  color: #fff;
  font-size: 15px;
}
